@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-test {
    background-color: #ff5722;
  }
}

@keyframes radiate {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(3);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .radiating-circle {
    animation: radiate 2s infinite;
  }